[Desktop Entry]
Type=Application
Name=Configure AppGrid
Exec=/usr/share/ublue-os-spinosauros/scripts/gnome/appgrid.sh
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
