[Desktop Entry]
Type=Application
Name=Configure Extensions
Exec=/usr/share/ublue-os-spinosauros/scripts/gnome/keybindings.sh
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-enabled=true
